.tooltipster-noir {
    border-radius: 5px;
    border: 3px solid #ffe8a3;
    background: #fff;
    color: #2c2c2c;
}
.tooltipster-noir .tooltipster-content {
    font-family: 'Georgia', serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
}
